@import "../../mixins.scss";

main {
  min-height: 90vh;
  .layout {
    display: flex;
    flex-direction: column;
    @include md {
      flex-direction: row;
    }
    .left {
      width: 100%;
      display: flex;
      padding: 60px 30px;
      @include md {
        width: 50%;
      }
      img {
        margin: auto;
      }
    }
    .right {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      padding: 60px 20px;
      gap: 5px;
      @include md {
        padding: 60px 40px;
        width: 50%;
      }
      @include lg {
        padding: 60px;
      }
      h1 {
        font-size: 30px;
        font-weight: bold;
        @include sm {
          font-size: 40px;
        }
        span {
          color: orangered;
          margin-left: 15px;
        }
      }
      .buttons {
        margin-top: 20px;
        font-size: bold;
        letter-spacing: 1px;
        @include sm {
          gap: 50px;
        }
        .btn {
          padding: 8px 20px;
          border-radius: 5px;
          margin-right: 15px;
        }
      }
    }
  }
}
